/* *	*** GLOBAL CONTEXT STYLES **** */
/* Styles for container elements. Includes overall form and presentation. */

html , body{
	position:static;	
	margin:0px;
	padding:0px;
}

header, footer {
	position:relative;
	display:block;
	margin:0px;
	padding:0px;
}



section.container {
	position:relative;
	display:block;
	margin:0px;
	padding:0px;
}

section {
	position:relative;
	display:block;
	margin:20px;
	padding:0px;
	left:0px;
	right:0px;
}



section.asideoffset {

	display:inline-block;
	padding:0px;
	margin-left:40px;
	margin-right:0px;
	width:800px;
	vertical-align:top;
	
	
}

section.aside {
	display:inline-block;
	padding:0px;
	width:400px;
	vertical-align:top;
}

nav.border {
	/*remove this
	border: 2px solid white;*/
}

body {
	font-family: Arial, Verdana, Sans-serif;
}





nav {
	margin:0px;
	padding: 1px 50px 1px 0px;
	background-color:#98FB98;
	font-size:10pt;
}



fieldset {
	margin:0px;
	/*width:100%;*/
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;	
	border-radius: 4px;
	border:1px solid #000000;
	height:150px;
}


/* Navigation Style */
/* from W3C, Example 9 http://dev.w3.org/csswg/css-flexbox/#auto-margins */
ul.nav {
	position: relative;	
	
	
	
	display: -webkit-box; /* OLD: Safari,  iOS, Android browser, older WebKit browsers */
	display: -ms-flexbox; /* MID: IE 10 */
	-ms-box-orient: horizontal;

	display: -webkit-flex; /* NEW, Chrome 21+ */
	display: -moz-flex; /* OLD: Firefox (buggy) */
	display: -moz-box; /* OLD: Firefox (buggy) */
	display: -ms-flex; /* OLD: IE */
	display: flex;  /* NEW: Opera 12.1, Firefox 22+ */
	  
	list-style:none;
	
	margin:0px 0px 0px 40px;
	padding:5px;
}

ul.nav > li {
	min-width: min-content;
	/* Prevent items from getting too small for their content. */
}

ul.nav > li#splitnav {
	/*margin-left: auto;*/
	margin-right:50px;
}


/* **** GLOBAL CONTENT STYLES **** */
/* Styles for elements such as text, image, et al. */

p {
	margin:0px;
	padding:0px 0px 10px;
	font-size: 10pt;
}

h1 {
	font-size: 24pt;
	font-weight: bold;
	text-align:center;
}

h1.constraints {

	padding:0px;
	margin:25px 0px;

	
}

h2 {
	padding:0px;
	border-bottom: 1px solid;
	margin:0px 0px 20px;
}

h2 , legend.h2 {
	font-size: 20pt;
	font-weight: bold;
}

figure {
	margin:10px 10px 10px 0px; /* top, right, bottom, left */
	padding:0px;
}

img {
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	cursor:pointer;
	margin: 0px 2px;
}


/* **** USE CASE PAGE STYLES **** */

section.usecase {
	margin: 20px 100px;
	text-align:justify;

}

section.usecaseoptions {
	margin:10px -10px -10px; /*top, right/left, bottom*/
	padding:5px 10px 10px; /*top, right/left, bottom*/
	border:1px solid #000000;
	border-radius: 4px;
}

section#plaintext {
	margin:40px 0px;
	padding:0px;
}

p#next {
	float:right;
}

button.pick3 {
	display:inline-block;
	width:300px;
	height:150px;
	margin: 0px 30px;
	padding:0px;
	
}

a.phone:hover {
	border-bottom:2px solid red;
}


/* Rollup Style */
/* from CSS Design Patterns @ http://cssdesignpatterns.com */
*.rollup-trigger { 
	cursor:pointer; 
}

*.rollup-trigger { 
	font-size:0.65em; 
	padding-left:8px; 
    background: url('../img/show.gif') no-repeat left top;
}

*.rolledup { 
	background: url('../img/hide.gif') no-repeat left top; 
}

*.hidden { 
	position:absolute; 
	visibility:hidden;
}



/* **** CONSTRAINTS PAGE STYLES **** */
#webmenu{
width:100%;
float:left;
}


section.derp {
	margin: 0px 0px 20px;
	padding: 5px;
	border: 1px solid #000;
	border-radius:4px;
	height:200px;
	overflow:scroll;
}

section#userselected {
	position:relative;
	margin: 0px 0px 20px;
	padding: 0px;
	min-height:90px;
}

.border {
	/*border: 1px solid;*/
}

section#bar2 {
	height:50px;
	overflow:hidden;
}

p.tech1 {
font-weight:bold;
}

p.helptext {
font-style:italic;
color:#A1A1A1;
}


button.close{
	margin-top:50px;
}

img.deselected{opacity:0.4;filter:alpha(opacity=40);}
img.selected:hover,img.selected:focus,img.deselected:hover,img.deselected:focus{cursor:pointer;opacity:0.8;filter:alpha(opacity=80);}


/* **** SUMMARY PAGE STYLES **** */

img#summary {
	float:left;
}

section#usecasesummary {
	float:right;
}

aside#myconstraints, section#tech{
	padding:0px;
}

fieldset#scrollable {
	height:300px;
	overflow:scroll;
}

