/* **** GLOBAL CONTEXT STYLES **** */
/* Styles for container elements. Includes overall form and presentation. */

body {
	margin:0px;
	padding:0px;
	border-style:none;
}

header, nav, section, aside, figure, footer {
	diplay: block;
	position:relative;
}

header {
	/*in case i want to add any styling here*/
}

nav {
	margin:0px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:0px;
	padding-right:20px;
	background-color:#98FB98;
}

section {
	margin: 20px;
}

section.asideoffset {
	margin:20px;
	padding:0px;
	width:60%;	
	float:right;
}

aside {
	margin:20px;
	padding:10px;
	width:30%;
	float:left;
}

fieldset {
	margin:0px;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;	
	border-radius: 15px;
	border:1px solid #000000;
}

footer {
	margin:20px;
	padding:0px;
	float:right;
}

/* Navigation Style */
/* from W3C, Example 9 http://dev.w3.org/csswg/css-flexbox/#auto-margins */
nav > ul {
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	list-style:none;
}

nav > ul > li {
	min-width: min-content;
	/* Prevent items from getting too small for their content. */
}

nav > ul > #splitnav {
	margin-left: auto;
}


/* **** GLOBAL CONTENT STYLES **** */
/* Styles for elements such as text, image, et al. */

p {
	margin:0px;
	padding:0px;
}

h1 {
	text-align:center;
}

figure {
	margin:10px 10px 10px 0px; /* top, right, bottom, left */
	padding:0px;
}

img {
	border: 1px solid #000000;
	border-radius: 15px;
}

/* Nested Checkbox Style */
/* from Nils Lauk @ http://devblog.xing.com/frontend/the-checkbox-list */
.nested-checkbox li,
.nested-checkbox ul li {
  margin-bottom: 5px;
  padding-top: 2px;
  position: relative;
}
 
.nested-checkbox label,
.nested-checkbox ul label {
  display: block;
  font-weight: normal;
  padding-left: 21px;
}
 
.nested-checkbox input,
.nested-checkbox ul input {
  display: inline;
  margin: 0 5px 0 -21px;
  position: absolute;
  top: 2px;
}
 
.nested-checkbox ul {
  margin: 5px 0 0 20px;
}
 
.nested-checkbox p,
.nested-checkbox ul p {
  color: #808080;
  padding-left: 21px;
  margin: 0;
}


/* **** USE CASE PAGE STYLES **** */

section.usecaseoptions {
	margin:10px -10px -10px; /*top, right/left, bottom*/
	padding:5px 10px 10px; /*top, right/left, bottom*/
	border:1px solid #000000;
	border-radius: 15px;
}

section#plaintext {
	margin:40px 0px;
	padding:0px;
}

p#next {
	float:right;
}

/* Rollup Style */
/* from CSS Design Patterns @ http://cssdesignpatterns.com */
*.rollup-trigger { 
	cursor:pointer; 
}

span.rollup-trigger { 
	font-size:0.65em; 
	padding-left:8px; 
    background: url('../img/hide.gif') no-repeat left top; 
}

span.rolledup { 
	background: url('../img/show.gif') no-repeat left top; 
}

*.hidden { 
	position:absolute; 
	top:-99999px; 
	left:-99999px; 
    width:1px; 
	height:1px; 
	overflow:hidden; 
}


/* **** CONSTRAINTS PAGE STYLES **** */

section.assets {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;	
	margin:20px 0px; /* top and bottom are 10px, left and right are 0px */
	padding:0px;
	float:left;
	width:50%;
	min-width:auto;
}

section#left {
	padding-right:15px;
}

section#right {
	padding-left:15px;
}


/* **** SUMMARY PAGE STYLES **** */

img#summary {
	float:left;
}

section#usecasesummary {
	float:right;
}

aside#myconstraints{
	padding:0px;
}
