/* **** GLOBAL CONTEXT STYLES **** */
/* Styles for container elements. Includes overall form and presentation. */

body {
	margin:0px;
	padding:0px;
	border-style:none;
}

header, nav, section, aside, figure, footer {
	diplay: block;
	position:relative;
}

header {
	margin-bottom: 75px;
}

nav {
	margin:0px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:0px;
	padding-right:20px;
	background-color:#98FB98;
}

section {
	margin: 20px;
}

section.asideoffset {
	margin:20px;
	padding:0px;
	width:60%;	
	float:right;
}

aside {
	margin:20px;
	padding:10px;
	width:32%;
	float:left;
}

fieldset {
	margin:0px;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;	
	border-radius: 4px;
	border:1px solid #000000;
}

footer {
	margin:20px;
	padding:0px;
	float:right;
}

/* Navigation Style */
/* from W3C, Example 9 http://dev.w3.org/csswg/css-flexbox/#auto-margins */
ul.nav {
	display: -webkit-box; /* OLD: Safari,  iOS, Android browser, older WebKit browsers */
	display: -ms-flexbox; /* MID: IE 10 */
	-ms-box-orient: horizontal;

	display: -webkit-flex; /* NEW, Chrome 21+ */
	display: -moz-flex; /* OLD: Firefox (buggy) */
	display: -moz-box; /* OLD: Firefox (buggy) */
	display: -ms-flex; /* OLD: IE */
	display: flex;  /* NEW: Opera 12.1, Firefox 22+ */
	  
	-webkit-flex-flow: row wrap;
	-webkit-box-flow: row wrap;
	-moz-flex-flow: row wrap;
	-moz-box-flow: row wrap;
	-ms-flexbox-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	list-style:none;
}

ul.nav > li {
	min-width: min-content;
	/* Prevent items from getting too small for their content. */
}

ul.nav > #splitnav {
	margin-left: auto;
}


/* **** GLOBAL CONTENT STYLES **** */
/* Styles for elements such as text, image, et al. */

p {
	margin:0px;
	padding:0px;
}

h1 {
	text-align:center;
}

figure {
	margin:10px 10px 10px 0px; /* top, right, bottom, left */
	padding:0px;
}

img {
	border: 1px solid #000000;
	border-radius: 4px;
}

/* Nested Checkbox Style */
/* from Nils Lauk @ http://devblog.xing.com/frontend/the-checkbox-list */
.nested-checkbox li,
.nested-checkbox ul li {
  margin-bottom: 5px;
  padding-top: 2px;
  position: relative;
}
 
.nested-checkbox label,
.nested-checkbox ul label {
  display: block;
  font-weight: normal;
  padding-left: 21px;
}
 
.nested-checkbox input,
.nested-checkbox ul input {
  display: inline;
  margin: 0 5px 0 -21px;
  position: absolute;
  top: 2px;
}
 
.nested-checkbox ul {
  margin: 5px 0 0 20px;
}
 
.nested-checkbox p,
.nested-checkbox ul p {
  color: #808080;
  padding-left: 21px;
  margin: 0;
}


/* **** USE CASE PAGE STYLES **** */

section.usecase {
	margin: 20px 100px;
	

}

section.usecaseoptions {
	margin:10px -10px -10px; /*top, right/left, bottom*/
	padding:5px 10px 10px; /*top, right/left, bottom*/
	border:1px solid #000000;
	border-radius: 4px;
}

section#plaintext {
	margin:40px 0px;
	padding:0px;
}

p#next {
	float:right;
}

button {
	display:inline-block;
	width:300px;
	height:300px;
	margin: 0px 30px;
}

/* Rollup Style */
/* from CSS Design Patterns @ http://cssdesignpatterns.com */
*.rollup-trigger { 
	cursor:pointer; 
}

span.rollup-trigger { 
	font-size:0.65em; 
	padding-left:8px; 
    background: url('../img/hide.gif') no-repeat left top; 
}

span.rolledup { 
	background: url('../img/show.gif') no-repeat left top; 
}

*.hidden { 
	position:absolute; 
	top:-99999px; 
	left:-99999px; 
    width:1px; 
	height:1px; 
	overflow:hidden; 
}


/* **** CONSTRAINTS PAGE STYLES **** */

section.assets {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;	
	margin:20px 0px; /* top and bottom are 10px, left and right are 0px */
	padding:0px;
	float:left;
	width:50%;
	min-width:auto;
}

section#left {
	padding-right:15px;
}

section#right {
	padding-left:15px;
}

fieldset#fixed {
	height:300px;
	overflow:scroll;
}

fieldset#flerp {
	margin:20px;
	width:auto;
}

/* **** SUMMARY PAGE STYLES **** */

img#summary {
	float:left;
}

section#usecasesummary {
	float:right;
}

aside#myconstraints, section#tech{
	padding:0px;
}

fieldset#scrollable {
	height:300px;
	overflow:scroll;
}


/* Nested Tab Interface Styles */
.etabs{ 
	margin: 0; 
	padding: 0; 
}

.subetabs {
	margin:-10px;
	padding:10px;

}

.subetabs, .subtab.active {
	background: #eee;
}

.tab { 
	display: inline-block; 
	zoom:1; 
	*display:inline; 
	background: #eee; 
	border: solid 1px #000000; 
	border-bottom: none; 
	-moz-border-radius: 4px 4px 0 0; 
	-webkit-border-radius: 4px 4px 0 0; 
}

.subtab {
	display: inline-block; 
	margin: 0px 40px 0px 0px;
	zoom:1; 
	*display:inline;  
}

.tab a { 
	font-size: 14px; 
	line-height: 2em; 
	display: block; 
	padding: 0 10px; 
	outline: none; 
}

.tab a:hover { 
	text-decoration: underline; 
}

.tab.active, .subtab.active {  
	padding-top: 6px; 
	position: relative; 
}

.tab.active {
	background: #fff;
	top:1px;
	border-color: #000000; 
}

.tab a.active, .subtab a.active { 
	font-weight: bold; 
}

.tab-container .panel-container { 
	background: #fff; 
	border: solid #000000 1px; 
	padding: 10px; 
	-moz-border-radius: 0 4px 4px 4px; 
	-webkit-border-radius: 0 4px 4px 4px; 
}

.panel-container { 
	margin-bottom: 10px; 
}

.subpanel-container {
	background: #fff;
	margin-top:20px;
	padding-top:20px;
}

.tab-container {
	height:253px;	
}
