/* **************************** GLOBAL CONTEXT STYLES **************************** */
/* Styles for container elements. Includes overall form and presentation. */

html , body {
	position:static;	
	margin:0px;
	padding:0px;
}

header {
	position:relative;
	margin:0px;
	padding:0px;
}

footer {
	position:relative;
	margin:0px;
	border-top:3px solid #BBBBBB;
	padding:20px 50px 50px 50px;
	
	background:#DDDDDD;
	
	font-size:8pt;
	font-family:Arial, Sans-serif;
}

nav {
	margin:0px;
	border-bottom:5px solid #AAAAAA;
	padding:0px;
}

section {
	position:relative;
	margin:0px;
	padding:0px;
}

section.container {
	margin:40px;
}

p {
	margin:0px;
	padding:0px 0px 18px;
}


/* Navigation Style */
/* from W3C, Example 9 http://dev.w3.org/csswg/css-flexbox/#auto-margins */
ul.nav {
	position: relative;	
		
	display: -webkit-box; /* OLD: Safari,  iOS, Android browser, older WebKit browsers */
	display: -ms-flexbox; /* MID: IE 10 */
	-ms-box-orient: horizontal;
	display: -webkit-flex; /* NEW, Chrome 21+ */
	display: -moz-flex; /* OLD: Firefox (buggy) */
	display: -moz-box; /* OLD: Firefox (buggy) */
	display: -ms-flex; /* OLD: IE */
	display: flex;  /* NEW: Opera 12.1, Firefox 22+ */
	  
	margin:0px 40px;
	padding:3px 0px 0px;
	
	list-style:none;
}

img#mediclogo {
	width: 50%;
}

img#genielogo {
	float: right;
	width: 30%;
}



/* **************************** GLOBAL CONTENT STYLES **************************** */
/* Styles for elements such as text, image, et al. */

@font-face {
	font-family: 'ShadowsIntoLight';
	src: url('../ShadowsIntoLight.ttf');
}

body {
	font-family: 'Lucida Grande', Lucida, Arial, Sans-serif;
	font-size:12pt;
	cursor: default;
}

h1 {
	margin-bottom: 0px;
	font-family: 'ShadowsIntoLight', 'Arial';
	font-size: 26pt;
	color: #6184ED;/*#57B02E*/
	text-align:center;
}

h2, .whiteboard {
	font-family: 'ShadowsIntoLight', 'Arial';
	font-size: 20pt;
	/*letter-spacing: 3px;*/
	font-weight:bold;
}

h2 {
	margin-top: 0px;
	color: #6184ED;
}

.whiteboard {
	color: #000000;
}

h3 {
	font-family: 'ShadowsIntoLight', 'Arial';
	font-size: 20pt;
	margin-top: 0px;
	margin-bottom: 10px;
	color: #57B02E;
}

a {
	color: #6184ED;
}

img {
	cursor:pointer;
}



/* **************************** USE CASE PAGE STYLES **************************** */

section.home {
	margin-top: 20px;
}

img.usecase {
	width: 50px;
	height: 50px;
	margin-right: 7px;
	border-radius: 4px;
	border: 1px solid #DDDDDD;
}

b.keyword {
	color: #6184ED;
	opacity:0.7;
	filter:alpha(opacity=70);
}

p.home {
	margin: 0px 15px;
}



/* **************************** CONSTRAINTS PAGE STYLES **************************** */

/* Drop-down image styles */
img.deselected {
	opacity:0.4;
	filter:alpha(opacity=40);
}

img.selected:hover,i mg.selected:focus, img.deselected:hover, img.deselected:focus {
	cursor:pointer;
	opacity:0.8;
	filter:alpha(opacity=80);
}


/* Left Side */
section.aside {
	display:inline-block;
	margin:0px 20px 0px 0px;
	
	width:420px;/* 420*/
	vertical-align:top;
}

img#selected {
	width: 350px;
	cursor: default;
}

img#gear, img.arrow {
	width: 5%;
}

section#categories {
	margin-top: 20px;
}

section#categories > p.whiteboard {
	padding-bottom: 0px;
}

p.helptext {
	font-style:italic;
	color:#777777;
	font-size:10pt;
	line-height:20px;
}

section.constraintBox {
	margin: 0px 0px 20px;		
	border-radius:10px;
	border: 2px solid #57B02E;
	padding: 5px;

	min-height:80px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

figure {
	display: inline-block;
	margin: 0px 10px 0px 0px;
	width: 80px;
}

img.constraintImg {
	margin-left: 15px;
	margin-right: 0px;
	width: 50px;
	height: 80px;
	vertical-align: middle;
}

figcaption {
	margin-left: -5px;
	font-size: 9pt;
	text-align: center;
	width: 90px;
}


/* Right Side */
section.asideoffset {
	display:inline-block;
	margin-left:40px;

	width:780px; 
	vertical-align:top;	
}

section#userselected {
	margin: 0px 0px 20px;
	min-height: 160px;
}

p#noSelect {
	font-style:italic;
	color:#777777;
}

fieldset#tech, fieldset#ttta {
	margin:0px;
	border-radius: 10px;
	border:3px solid #F00;
	padding: 0px 30px 10px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;	

	height:400px;
	overflow-x:hidden;
	overflow-y:auto;
}

fieldset#tech > legend {
	margin:0px 0px 20px;
	padding:0px;
	color: #6184ED;
}

small {
	color: #AAAAAA;
}

fieldset#tech > p {
	display: inline-block;
	width: 50%;	
}

fieldset#tech > p > a {
	font-family: 'ShadowsIntoLight', 'Arial';
	font-size: 20pt;
	color: #000000;
	text-decoration: underline;
}

fieldset#tech > p > a:hover {
	color: #AAAAAA;
}






























/* **************************** SUMMARY PAGE STYLES **************************** */

img#summary {
	float:left;
}

section#usecasesummary {
	float:right;
}

aside#myconstraints, section#tech{
	padding:0px;
}

fieldset#scrollable {
	height:300px;
	overflow:scroll;
}

